@{
    ViewData["Title"] = "Pandemic Dev";
}
<h2><strong>@ViewData["Title"]</strong></h2>

<p>&nbsp;</p>

<img src="~/images/Logo1024.jpeg" alt="ASP.NET" class="img-responsive" width="200" />

<p>&nbsp;</p>

<p>
    We are a team of colleagues dedicated to collaborating in the realization of
    a distributed programming development project; Our main objective is to
    create a solution that helps to report all cases of possible pandemics,
    serving as an information and control system for both citizens, health entities,
    and governments.
</p>
<p>
    If you want more information about this project, please go to the <a asp-area="" asp-controller="Home" asp-action="Contact">contact </a>page.
</p>

