@{
    ViewData["Title"] = "Contact with us";
}
<h2>@ViewData["Title"]</h2>
<br />

<address>
    <strong>
        Sebastian Gomez Jimenez
    </strong> <br />
    BackEnd Developer<br />
    <strong>
        Contact:
    </strong> <a href="mailto:sebastiangomezjimenez8@gmail.com">sebastiangomezjimenez8@gmail.com</a><br />
    <br />
    <strong>
        Laura Katherin Moreno
    </strong> <br />

    FrontEnd Developer<br />
    <strong>
        Contact:
    </strong> <a href="mailto:katherin.moreno4@gmail.com">katherin.moreno4@gmail.com</a><br />
    <br />

    <strong>
        Nelson Alejandro Palacios Galeano <br />
    </strong>
    BackEnd Developer<br />
    <strong>
        Contact:
    </strong> <a href="mailto:nelpaga1126@gmail.com">nelpaga1126@gmail.com</a><br />
    <br />
</address>
